<?xml version="1.0" encoding="utf-8"?>
<robot name="small_block">
    <material name="blue">
        <color rgba="0 0 0.8 1"/>
    </material>
    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>
    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>

    <link name="base_link">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <visual>
            <geometry>
                <mesh filename="file://$(cwd)/meshes/80mm.stl"/>
            </geometry>
            <material name="white" />
        </visual>
        <collision>
            <geometry>
                <mesh filename="file://$(cwd)/meshes/80mm.stl"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
    </link>

    <!-- workaround for the fact that base links don't have mass/inertia -->
    <joint name="fixed_inertial_joint" type="fixed">
        <child link="inertial_link" />
        <parent link="base_link" />
    </joint>

    <link name="inertial_link">
        <inertial>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <mass value="1"/>
          <inertia ixx="0" ixy="0" iyy="0" izz="0" ixz="0" iyz="0"/>
        </inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </link>

</robot>
