<?xml version="1.0" encoding="utf-8"?>
<robot name="large_block">
    <material name="blue">
        <color rgba="0 0 0.8 1"/>
    </material>
    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>
    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>

    <link name="base_link">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <visual>
            <geometry>
                <box size="0.08 0.08 0.08"
            </geometry>
            <material name="black" />
        </visual>
        <collision>
            <geometry>
                <box size="0.08 0.08 0.08"
            </geometry>
        </collision>
        <inertial>
            <mass value="1"/>
            <inertia ixx="0" ixy="0" iyy="0" izz="0"/>
        </inertial>
    </link>
</robot>
